.button {
  height: 54px;
  background: var(--blue-dark);
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);

  transition: background-color 0.1s;
}

.button:hover {
  background: var(--blue);
}
