.wrapper {
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.container {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}

.tasks {
  width: 38.438rem;
}

.headerTasks {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headerTasks p {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 700;
}

.headerTasks p:first-child {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.counter {
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-300);
  border-radius: 999px;

  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
}
